.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login-main-wrapper{
  min-height: 100vh;
  background: #59C173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper{
  background: #FFF;
  padding: 40px 20px;
  border-radius: 10px;
  width: 350px;

}
.help-block{
  color: #f24e5e;
}
.masonry-wrapper{
  display: flex;
    flex-direction: row;
    padding: 10px;
}
.col1, .col2, .col3{
  flex: 1;
  width: 33%;
  margin-right: 10px;
}
.col3{
  margin: 0;
}
img{
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;
  /* transition: all .2s ease-in-out */
}
img:hover{
  /* transform: scale(1.1); */
}